/* Base CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #1E1F20;
    font-weight: 600;
    font-family: 'Helvetica';
}

@font-face {
    font-family: 'Helvetica';
    src: url('../font/Helvetica-Bold.woff2') format('woff2'), url('../font/Helvetica-Bold.woff') format('woff'), url('../font/Helvetica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*---------------------- Buttons area start ----------------------*/

.buttons__area {
    padding: 50px;
    text-align: center;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #0FA732;
    font-weight: 700;
    line-height: 1.2;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: #c3f7d1;
    padding: 0 11px;
    position: relative;
    margin: 0 14px;
}

.btn:after {
    position: absolute;
    left: -20px;
    top: 0;
    width: 0;
    height: 0;
    content: "";
    border-top: 18px solid #C2D9FB;
    border-left: 20px solid transparent;
    border-bottom: 18px solid #C2D9FB;
}

.btn--green:after {
    border-top: 18px solid #c3f7d1!important;
    border-bottom: 18px solid #c3f7d1!important;
}

.btn::before {
    position: absolute;
    right: -18px;
    top: 0;
    width: 0;
    height: 0;
    content: "";
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 18px solid #C2D9FB;
}

.btn--green::before {
    border-left: 18px solid #c3f7d1!important;
}

.btn--grey::after {
    border-top: 18px solid #F4F4F4!important;
    border-bottom: 18px solid #F4F4F4!important;
}

.btn--grey::before {
    border-left: 18px solid #F4F4F4!important;
}

.btn--grey {
    background-color: #F4F4F4!important;
}

.color--black {
    color: #454648 !important;
}

.single__btn {
    margin-bottom: 9px;
}

.btn span {
    position: relative;
    top: 2px;
    margin-right: 6px;
    max-width: 17px;
}

.btn span img {
    width: 100%;
}

.bg-light-blue {
    background-color: #C2D9FB !important;
}

.color--blue {
    color: #2E67C3!important;
}

.btn__wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/*---------------------- Buttons area end ----------------------*/